<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a th:href="@{/index}" class="navbar-brand" style="font-family: 'Arial', sans-serif; font-size: 16px;">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                        Managements
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/create-form}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Sales Forms</a>
                        <a class="dropdown-item" th:href="@{/approvals}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Approvals</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/daily-planner}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Daily Planner</a>
                        <a class="dropdown-item" th:href="@{/customer-needs}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Customer Needs</a>
                        <a class="dropdown-item" th:href="@{/delivery-checklist}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Delivery Checklist</a>
                        <a class="dropdown-item" th:href="@{/end-of-day}" style="font-family: 'Arial', sans-serif; font-size: 16px;">End of the Day</a>
                        <a class="dropdown-item" th:href="@{/ssi-1000}" style="font-family: 'Arial', sans-serif; font-size: 16px;">SSI 1000</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/general-management}" style="font-family: 'Arial', sans-serif; font-size: 16px;">General Management</a>
                        <a class="dropdown-item" th:href="@{/general-sales-manager}" style="font-family: 'Arial', sans-serif; font-size: 16px;">General Sales Manager</a>
                        <a class="dropdown-item" th:href="@{/new-car-sales-manager}" style="font-family: 'Arial', sans-serif; font-size: 16px;">New Car Sales Manager</a>
                        <a class="dropdown-item" th:href="@{/sales-manager-pre-owned}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Sales Manager Pre-Owned</a>
                        <a class="dropdown-item" th:href="@{/finance-director}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Finance Director</a>
                        <a class="dropdown-item" th:href="@{/internet-sales-manager}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Internet Sales Manager</a>
                        <a class="dropdown-item" th:href="@{/promotional-events}" style="font-family: 'Arial', sans-serif; font-size: 16px;">Promotional Events</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" id="user-management-link" th:href="@{/user-management}">
                        <i class="fas fa-users-cog"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="logout-link" onclick="document.getElementById('logout-form').submit();">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Formulario oculto para logout -->
    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
    </form>
</nav>
