<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deery Daily Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script th:src="@{/daily-planner.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <h2 class="text-center mb-4">Deery Daily Planner</h2>
    <form th:action="@{/submit-daily-planner}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <!-- General Information Section -->
        <div class="card mb-4">
            <div class="card-header">General Information</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" class="form-control" maxlength="10" required
                           data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="deliveredUpToDate">Delivered up to date</label>
                    <input type="number" id="deliveredUpToDate" name="deliveredUpToDate" class="form-control"
                           min="-1000" max="9999999" step="any" required data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="daysGone">Days gone</label>
                    <input type="number" id="daysGone" name="daysGone" class="form-control" min="-1000" max="9999999"
                           step="any" required data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="averageSoldPerDay">Average sold per day</label>
                    <input type="number" id="averageSoldPerDay" name="averageSoldPerDay" class="form-control"
                           min="-1000" max="9999999" step="any" required data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="daysThisMonth">Days this month</label>
                    <input type="number" id="daysThisMonth" name="daysThisMonth" class="form-control" min="0" max="31"
                           step="any" required data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="tracking">Tracking</label>
                    <input type="number" id="tracking" name="tracking" class="form-control" min="-100" max="9999999"
                           step="any" required data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="goal">Goal</label>
                    <input type="number" id="goal" name="goal" class="form-control" min="-100" max="9999999" step="any"
                           required data-toggle="tooltip" data-placement="top">
                </div>
                <div class="form-group">
                    <label for="plusOrMinusGoal">Plus or Minus Goal</label>
                    <input type="number" id="plusOrMinusGoal" name="plusOrMinusGoal" class="form-control" min="-100"
                           max="9999999" step="any" required data-toggle="tooltip" data-placement="top">
                </div>
            </div>
        </div>

        <!-- Confirmed Appointments for today Section -->
        <div class="card mb-4">
            <div class="card-header">Confirmed Appointments for Today</div>
            <div class="card-body">
                <div class="form-group">
                    <label>Name</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="vehicles[0].name"
                                   class="form-control" placeholder="First" required data-toggle="tooltip"
                                   data-placement="top">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="vehicles[0].lastName" class="form-control"
                                   placeholder="Last" required data-toggle="tooltip" data-placement="top">
                        </div>
                    </div>
                </div>

                <!-- Section for adding multiple vehicles -->
                <div id="vehicle-container">
                    <div class="vehicle-entry mb-3">
                        <div class="form-group">
                            <label>Vehicle</label>
                            <input type="text" name="vehicles[0].vehicle" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Time</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="number" name="vehicles[0].hour" class="form-control" min="1" max="12"
                                           placeholder="Hour" required data-toggle="tooltip" data-placement="top">
                                </div>
                                <div class="col-md-4">
                                    <input type="number" name="vehicles[0].minute" class="form-control" min="0" max="59"
                                           placeholder="Minute" required data-toggle="tooltip" data-placement="top">
                                </div>
                                <div class="col-md-4">
                                    <select name="vehicles[0].amPm" class="form-control" required data-toggle="tooltip"
                                            data-placement="top">
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Remove button -->
                        <button type="button" class="btn btn-danger mt-2" onclick="removeVehicle(this)">Remove Vehicle
                        </button>
                    </div>
                </div>

                <!-- Button to add more vehicles -->
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" onclick="addVehicle()">Add Another Vehicle</button>
                </div>
            </div>
        </div>

        <!-- Active Showroom Visits Section -->
        <div class="card mb-4">
            <div class="card-header">Active Showroom Visits</div>
            <div class="card-body">
                <!-- Container for multiple showroom visits -->
                <div id="showroom-visit-container">
                    <div class="showroom-visit-entry mb-3">
                        <div class="form-group">
                            <label>Name</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="showroomVisits[0].visitFirstName" class="form-control"
                                           placeholder="First" required data-toggle="tooltip" data-placement="top">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="showroomVisits[0].visitLastName" class="form-control"
                                           placeholder="Last" required data-toggle="tooltip" data-placement="top">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Vehicle</label>
                            <input type="text" name="showroomVisits[0].visitVehicle" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>What will it take to make the deal?</label>
                            <input type="text" name="showroomVisits[0].dealRequirement" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <!-- Remove button -->
                        <button type="button" class="btn btn-danger mt-2" onclick="removeShowroomVisit(this)">Remove
                            Visit
                        </button>
                    </div>
                </div>

                <!-- Button to add more showroom visits -->
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" onclick="addShowroomVisit()">Add Another Showroom
                        Visit
                    </button>
                </div>
            </div>
        </div>

        <!-- Vehicles for Facebook Marketplace Section -->
        <div class="card mb-4">
            <div class="card-header">Vehicles for Facebook Marketplace</div>
            <div class="card-body">
                <!-- Container for multiple Facebook Marketplace vehicles -->
                <div id="fb-marketplace-container">
                    <div class="fb-marketplace-entry mb-3">
                        <div class="form-group">
                            <label>Stock Number</label>
                            <input type="text" name="fbMarketplaceVehicles[0].fbStockNumber" class="form-control"
                                   required data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>FB Marketplace Link</label>
                            <input type="url" name="fbMarketplaceVehicles[0].fbLink" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Vehicle Type</label>
                            <input type="text" name="fbMarketplaceVehicles[0].fbVehicleType" class="form-control"
                                   required data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Listing Price</label>
                            <input type="text" name="fbMarketplaceVehicles[0].fbListingPrice" class="form-control"
                                   required data-toggle="tooltip" data-placement="top">
                        </div>
                        <!-- Remove button -->
                        <button type="button" class="btn btn-danger mt-2" onclick="removeFbMarketplaceVehicle(this)">
                            Remove Vehicle
                        </button>
                    </div>
                </div>

                <!-- Button to add more Facebook Marketplace vehicles -->
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" onclick="addFbMarketplaceVehicle()">Add Another
                        Vehicle
                    </button>
                </div>
            </div>
        </div>

        <!-- Own Trade-ins Section -->
        <div class="card mb-4">
            <div class="card-header">Own Trade-ins</div>
            <div class="card-body">
                <!-- Container for multiple Trade-ins -->
                <div id="trade-in-container">
                    <div class="trade-in-entry mb-3">
                        <div class="form-group">
                            <label>Year</label>
                            <input type="number" name="tradeIns[0].tradeInYear" class="form-control" min="0" max="9999"
                                   required data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Make</label>
                            <input type="text" name="tradeIns[0].tradeInMake" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" name="tradeIns[0].tradeInModel" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Mileage</label>
                            <input type="number" name="tradeIns[0].tradeInMileage" class="form-control" min="0"
                                   max="9999999" step="any" required data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Stock number</label>
                            <input type="text" name="tradeIns[0].tradeInStockNumber" class="form-control" required
                                   data-toggle="tooltip" data-placement="top">
                        </div>
                        <div class="form-group">
                            <label>Date acquired</label>
                            <input type="text" name="tradeIns[0].tradeInDateAcquired" class="form-control"
                                   maxlength="10" required data-toggle="tooltip" data-placement="top">
                        </div>
                        <!-- Remove button -->
                        <button type="button" class="btn btn-danger mt-2" onclick="removeTradeIn(this)">Remove
                            Trade-in
                        </button>
                    </div>
                </div>

                <!-- Button to add more Trade-ins -->
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" onclick="addTradeIn()">Add Another Trade-in</button>
                </div>
            </div>
        </div>

        <!-- Referrals to Contact Section -->
        <div class="card mb-4">
            <div class="card-header">Referrals to Contact</div>
            <div class="card-body">
                <!-- Container for multiple referrals -->
                <div id="referral-container">
                    <div class="referral-entry mb-3">
                        <div class="form-group">
                            <label>Name</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="referrals[0].referralFirstName" class="form-control"
                                           placeholder="First" required data-toggle="tooltip" data-placement="top">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="referrals[0].referralLastName" class="form-control"
                                           placeholder="Last" required data-toggle="tooltip" data-placement="top">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Reason for contact</label>
                            <select name="referrals[0].referralReason" class="form-control" required
                                    data-toggle="tooltip" data-placement="top">
                                <option value="introduction">Introduction</option>
                                <option value="set-up-appointment">Set up appointment</option>
                            </select>
                        </div>
                        <!-- Remove button -->
                        <button type="button" class="btn btn-danger mt-2" onclick="removeReferral(this)">Remove
                            Referral
                        </button>
                    </div>
                </div>

                <!-- Button to add more referrals -->
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" onclick="addReferral()">Add Another Referral
                    </button>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
