<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/styles.css}">
  <title>Error</title>
</head>
<body>
<h1>¡Algo salió mal!</h1>
<p>Lo sentimos, ocurrió un error inesperado.</p>
<p class="error-code" th:text="${status}">Error</p>
<p th:text="${error}">Detalles del error no disponibles.</p>
<p th:text="${message}">Mensaje de error no disponible.</p>
<a href="/" style="color: #721c24; text-decoration: none;">Volver a la página de inicio</a>
</body>
</html>
