<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/survey-platform/styles.css">
</head>
<body>
<div class="content-container">
    <h1 th:text="${mensaje}" class="centered-message">Mensaje por defecto</h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn-logout">Logout</button>
    </form>
</div>
</body>
</html>
